<!DOCTYPE html>
<html lang="ko">
{{ partial "head.html" . }}

<body class="has-navbar-fixed-top">
  <section class="wrap">
    {{ partial "header.html" . }}
    
    <div class="container study">
      <div class="content-main content">
          <ul class="content-list">
            {{ range .Pages }}
            <li class="content-li">
              <div class="list-title"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></div>
                <p class="list-desc">
                  <a href="{{ .RelPermalink }}">
                  {{ .Summary | plainify | safeHTML }}
                  {{ if .Truncated }}…{{ end }}
                  </a>
                </p>
                <div class="list-date">
                  <span class="start-date">{{ .Params.startdate }}</span> ~
                  <span class="date"></span>
                </div>
            </li>
            {{ end }}
          </ul>
        </div>
    </div>
    {{ partial "scripts-footer.html" . }}
    {{ partialCached "footer.html" . }}
  </section>
</body>
</html>