$point-color: #374afb !default
$line-color: #c2c2c2 !default

.portfolio
    padding: 40px 100px
    font-size: 13px
    font-weight: 400

    .division-section
        padding: 40px 0px
        overflow: hidden
        border-bottom: 2px solid $line-color
        &:last-child
            border-bottom: 0px
            
    .first-section
        .profile-section
            float: left
            width: 30%
            height: 386px
            text-align: center
            border-right: 2px solid $line-color
            .profile-name
                font-size: 15px
                .name
                    color: $point-color
                    font-weight: 600
                .nickname
                    margin-top: 6px
                    font-size: 32px
                    line-height: 24px
                    color: $point-color
                    font-weight: 600
            .profile-img
                margin: 30px 0
                text-align: center
                .img
                    height: 200px
                    img
                        width: 200px
                        height: 200px
                        border-radius: 50%
            .profile-desc
                font-size: 12px
            .profile-privacy
                overflow: hidden
                margin-top: 16px
                >span
                    border-left: 1px solid #c2c2c2
                    &:first-child
                        margin-left: 0
                        border-left: 0
                        
                    display: inline-block
                    padding: 0 10px
                    font-size: 14px
                    font-weight: 400
        .skill-section
            float: left
            overflow: hidden
            padding: 0 60px
            width: 70%
            height: 386px
            .title
                margin-bottom: 30px
                text-align: center
                font-size: 22px
                line-height: 20px
                font-weight: 600
            .skill-cate-section
                float: left
                overflow: hidden
                width: 60%
                .skill-cate
                    float: left
                    li
                        width: 100px
                        height: 48px
                        line-height: 48px
                        text-align: center
                        &:last-child
                            border-bottom: 0px
                        &.active
                            color: #374afb
                            font-weight: 600
                .skill-model-section
                    float: left
                    .front-section
                        margin-left: 40px
                        #skillChart
                            width: 330px
            .skill-desc-section
                float: left
                padding: 15px
                width: 40%
                .desc-section
                    display: none
                    &.active
                        display: block
                    .item
                        margin-top: 20px
                        &:first-child
                            margin-top: 0px

                        .tit
                            margin-bottom: 10px
                            font-size: 14px
                            line-height: 14px
                            font-weight: 600
                        li
                            font-weight: 300
                            font-size: 12px
                            line-height: 22px
                    
    .second-section
        position: relative
        height: 640px
        .title
            margin-bottom: 30px
            text-align: center
            font-size: 22px
            line-height: 20px
            font-weight: 600

        .timeline
            white-space: nowrap
            overflow-x: hidden
            width: calc(100% - 80px)
            margin: 0 auto
            .arrow
                position: absolute
                top: 312px
                width: 40px
                font-size: 30px
                line-height: 40px
                background: none
                color: #828efd
                z-index: 10
                padding: 0
                border: none
                &.arrow__prev
                    left: 0
                    border-top-left-radius: 20px
                    border-bottom-left-radius: 20px
                &.arrow__next
                    right: 0
                    border-top-right-radius: 20px
                    border-bottom-right-radius: 20px
                &.disabled
                    color: #c2c2c2
            ol
                font-size: 0
                padding: 240px 0
                transition: all 1s
                > li
                    position: relative
                    display: inline-block
                    width: 240px
                    height: 2px
                    background: #828efd
                    
                    &:nth-child(odd) 
                        .triangle
                            border-top: 12px solid rgba(130, 142, 253, 0.2)
                            border-left: 8px solid transparent
                            border-right: 8px solid transparent
                            border-bottom: 0
                            top: calc(100%)
                            left: 10px
                        .circle
                            bottom: -28px
                        .content-section
                            transform: translateY(-100%)
                            top: -20px
                    &:nth-child(even)
                        .triangle
                            width: 0px
                            height: 0px
                            border-top: 0
                            border-bottom: 12px solid rgba(130, 142, 253, 0.2)
                            border-right: 8px solid transparent
                            border-left: 8px solid  transparent
                            bottom: calc(100%)
                            left: 10px
                        .circle
                            top: -28px
                        .content-section
                            transform: translateY(100%)
                            bottom: -20px
                    .triangle
                        position: absolute
                        border-style: inset
                    .circle
                        position: absolute
                        left: 11px
                        width: 14px
                        height: 14px
                        border-radius: 50%
                        border: 2px solid #828efd
                        background: #fff
                    .date
                        position: absolute
                        top: 12px
                        height: 16px !important
                        font-size: 16px
                        line-height: 16px
                        font-size: 16px
                        padding: 0
                        color: #fff

                    .content-section
                        position: absolute
                        left: 100px
                        white-space: normal
                        color: black
                        background: rgba(130, 142, 253, 0.2)
                        &.type1
                            width: 200px !important
                            height: 80px !important
                        &.type2
                            width: 280px !important
                            height: 130px !important
                        &.type3
                            width: 300px !important
                            height: 160px !important
                        &.type4
                            width: 320px !important
                            height: 200px !important
                        .period
                            margin-bottom: 4px
                            font-size: 12px
                        .content
                            padding: 12px
                            height: 100%
                            .desc
                                .tit
                                    font-size: 14px
                                    margin-bottom: 10px
                                span
                                    margin-top: 4px
                                    display: block
                                    font-size: 11px
                                    line-height: 12px
                                    font-weight: 300
                                    &:first-child
                                        margin-top: 0
                        .skill-section
                            position: absolute
                            bottom: 14px
                            .li
                                margin-bottom: 4px
                                &:last-child
                                    margin-bottom: 0
                                .skill
                                    display: inline-block
                                    margin-left: 2px
                                    padding: 0 4px
                                    color: #fff
                                    border-radius: 8px
                                    font-size: 12px
                                    &:first-child
                                        margin-left: 0
                                .frontend
                                    background: #9AD0F5
                                .backend
                                    background: #FFB1C1
                                .db
                                    background: #A5DFDF
                                .serveros
                                    background: #FFCF9F
                                .devops
                                    background: #C3FFAA
                                .app
                                    background: #FAFFA3
                                .etc
                                    background: #D6AAFF
                                    
                                