<link type="text/css" rel="stylesheet" href="{{"css/fonts.css" | relURL}}" />
{{ if (and (not .IsHome) (not .Params.docs_home) )}}
<link type="text/css" rel="stylesheet" href="{{"css/tocbot.css" | relURL}}" />
<link type="text/css" rel="stylesheet" href="{{"css/scrollbar.css" | relURL}}" />
{{ end }}

{{ $sass := resources.Get "styles.sass" }}
{{ $options := (dict "outputStyle" "compressed") }}
{{ $css := $sass | toCSS $options | fingerprint }}
<link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">