{{ if and (isset .Params "toc") (.Params.toc) }}
<div class="toc-container column is-one-fifth is-hidden-touch">
  <div class="toc-main">
    <p class="subtitle is-6">
      Contents
    </p>
    <div class="scrollbar-outer">
      <nav class="toc-menu"></nav>
    </div>
    <div>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- DOCS_TOP_수직광고 -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3588286886332636"
          data-ad-slot="9349855102"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
{{ end }}